/* body {
    background-image: linear-gradient(to right , #cb2d3e , #ef473a);
} */
/* ///////////////////////////////////////////// */

.view,body,html{height:100%}.navbar{background-color:#113d435e}.page-footer,.top-nav-collapse{background-color:#0000005c}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}


/* ////////////////////////////////////////////////// */


footer {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  background-image: linear-gradient(to left, #4343438f 0%, black 100%);
}


/* ////////////////////////////////////////////////// */


body {
	font-family: 'Lato', sans-serif;
	/* background-image: url(images/board.png); */
	/* background-repeat: no-repeat; */
	background-size: cover;
}

.nav {
	background-color: rgba(0, 0, 0, .5);
}

.nav-link {
	color: white;
	/*    color:#054A91;*/
}

.active {
	font-weight: 600;
	background-color: #18000069;
}

.nav-link:hover {
	color: white;
	text-shadow: 2px 3px 3px #16ffff85;
}

/*
    JUMBOTRON
*/
.jumbotron {
	background-color: rgba(0, 0, 0, .4);
	color: white;
	padding-bottom: 30px;
	margin-top: 10vh;
}

.boldText {
	font-weight: 600;
}

#jumbotronDesc {
	font-weight: 400;
}

/*FORM*/
.formContainer {
	background-color: rgba(0, 0, 0, .4);
	border-radius: 10px;
}

.formContainer h2 {
	color: white;
	text-align: center;
}

.shortForm {
	margin: auto 0 auto;
	padding: 40px 100px;
	padding-bottom: 10px;
    padding-top: 30px;
	font-weight: 700;
	color: white;
	/*    max-width: 400px;*/
}

.mySubmitButton {
	background-color: white;
	color: black;
	outline: none;
	border: none;
	font-weight: 600;
}

.mySubmitButton:hover {
	background-color: black;
	color: white;
}

.loginSwitch, .signUpSwitch {
	cursor: pointer;
}

#signUpForm {
	display: none;
}

#adminImage {
	margin-right: 10px;
	text-align: center;
	height: 40px;
	background-color: white;
}

/*CARDS*/
.card {
	background-color: rgba(0, 0, 0, .5);
}

/* ///////////////////////////////////////////////////// */
.card-title {
	font-weight: 550;
	font-size: 8%;
}

.act {
	color: #04b1d8c4 !important;
}

#header-color{
	font-weight: 800;
}

#header-color:hover {
	background-color: #01010166 !important;
	
} 

.logo {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 50;
	font-size: 150%;
	text-shadow: 2px 2px 5px #00dcff;
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
}


